<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Site du zoo Arcadia" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link rel="stylesheet" rel="stylesheet" href="./style.css" />


  <title>Parc zoologique Arcadia</title>
</head>

<body>
  <div class="main-content layout-full">
    <div class="h1-container">
      <h1> Zoo Arcadia </h1>
    </div>
    <header>
      <a class="navbar-brand" href="/">
        <img src="../images/ide-verte.png" alt="Logo Zoo Arcadia" style="height: 70px;">
      </a>

      <!-- Contenu de la barre de navigation -->
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">Parc zoologique d'ARCADIA</a>
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="./habitat.html">Habitats <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="./service.html">Service & Horraire </a>
            </li>


            <li class="nav-item">
              <a class="nav-link" href="./contact.html">Contact</a>
            </li>
            </li>


            <li class="nav-item">
              <a class="nav-link" href="/submit_avis">Soumettre un avis</a>
            </li>
            </li>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="/rapport">Rapport véterinaire</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin">Admin</a>
            </li>


          </ul>
        </div>
      </nav>


      <body>
        <h2>Nos habitats</h2>
        <p>Voici la liste de nos habitats et les animaux qui y vivent. cliquez sur votre animal favori, survoler le
          prénom pour voirb son image.</p>
        <!-- <table>
          <thead>
            <tr>
              <th>Nom</th>
              <th>Description</th>
              <th>Animaux</th>
              <th>Image</th>
            </tr>
          </thead>
          <tbody>
            {for habitat in habitats }
            <tr>
              <td>{{ habitat.nom }}</td>
              <td>{{ habitat.description }}</td>
              <td>
                {% if habitat.animaux.exists %}
                <ul>
                  {% for animal in habitat.animaux.all %}
                  <li>
                    <!-- <span class="animal-name"onmouseover="showImage(this)"
                         onmouseout="hideImage(this)" onclick="incrementClick({{ animal.id }})"> 
                            {{ animal.prenom }}- {{ animal.race.label }} - Clics : <span id="clicks-count-{{ animal.id }}">{{ animal.clics }}</span>
                        </span> -->
        <!-- <div class="animal-image" style="display: none;">
                      <img src="{{ animal.image.url }}" alt="Image de {{ animal.prenom }}"
                        style="max-width: 350px; height: auto;">
                    </div>
                  </li>
                  {% endfor %}
                </ul>
                {% else %}
                <p>Aucun animal dans cet habitat.</p>
                {% endif %}
              </td>
              <td>
                {% if habitat.images.exists %}
                <img src="{{ habitat.images.first.image_data.url }}" alt="Image of {{ habitat.nom }}"
                  style="width: 100%; max-width: 700px; height: auto;">
                {% else %}
                <p>Pas d'image disponible.</p>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table> -->
        <table>
          <thead>
            <tr>
              <th>Nom</th>
              <th>Description</th>
              <th>Animaux</th>
              <th>Image</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Forêt Tropicale</td>
              <td>Une forêt dense et humide.</td>
              <td>
                <ul>
                  <li>
                    <span class="animal-name" onmouseover="showImage(this)" onmouseout="hideImage(this)"
                      onclick="incrementClick(1)">
                      Tigre - Panthera tigris - Clics : <span id="clicks-count-1">10</span>
                    </span>
                    <div class="animal-image" style="display: none;">
                      <img src="images/tiger.jpg" alt="Image de Tigre" style="max-width: 350px; height: auto;" />
                    </div>
                  </li>
                  <li>
                    <span class="animal-name" onmouseover="showImage(this)" onmouseout="hideImage(this)"
                      onclick="incrementClick(2)">
                      Singe - Macaca - Clics : <span id="clicks-count-2">15</span>
                    </span>
                    <div class="animal-image" style="display: none;">
                      <img src="images/monkey.jpg" alt="Image de Singe" style="max-width: 350px; height: auto;" />
                    </div>
                  </li>
                </ul>
              </td>
              <td>
                <img src="images/forest.jpg" alt="Image de Forêt Tropicale"
                  style="width: 100%; max-width: 700px; height: auto;" />
              </td>
            </tr>
            <tr>
              <td>Savane</td>
              <td>Une vaste plaine herbeuse.</td>
              <td>
                <ul>
                  <li>
                    <span class="animal-name" onmouseover="showImage(this)" onmouseout="hideImage(this)"
                      onclick="incrementClick(3)">
                      Lion - Panthera leo - Clics : <span id="clicks-count-3">20</span>
                    </span>
                    <div class="animal-image" style="display: none;">
                      <img src="images/lion.jpg" alt="Image de Lion" style="max-width: 350px; height: auto;" />
                    </div>
                  </li>
                  <li>
                    <span class="animal-name" onmouseover="showImage(this)" onmouseout="hideImage(this)"
                      onclick="incrementClick(4)">
                      Éléphant - Loxodonta - Clics : <span id="clicks-count-4">25</span>
                    </span>
                    <div class="animal-image" style="display: none;">
                      <img src="images/elephant.jpg" alt="Image de Éléphant" style="max-width: 350px; height: auto;" />
                    </div>
                  </li>
                </ul>
              </td>
              <td>
                <img src="images/savannah.jpg" alt="Image de Savane"
                  style="width: 100%; max-width: 700px; height: auto;" />
              </td>
            </tr>
            <tr>
              <td>Forêt Tropicale</td>
              <td>Une forêt dense et humide.</td>
              <td>
                <ul>
                  <li>
                    <span class="animal-name" onmouseover="showImage(this)" onmouseout="hideImage(this)"
                      onclick="incrementClick(1)">
                      Tigre - Panthera tigris - Clics : <span id="clicks-count-1">10</span>
                    </span>
                    <div class="animal-image" style="display: none;">
                      <img src="images/tiger.jpg" alt="Image de Tigre" style="max-width: 350px; height: auto;" />
                    </div>
                  </li>
                  <li>
                    <span class="animal-name" onmouseover="showImage(this)" onmouseout="hideImage(this)"
                      onclick="incrementClick(2)">
                      Singe - Macaca - Clics : <span id="clicks-count-2">15</span>
                    </span>
                    <div class="animal-image" style="display: none;">
                      <img src="images/monkey.jpg" alt="Image de Singe" style="max-width: 350px; height: auto;" />
                    </div>
                  </li>
                </ul>
              </td>
              <td>
                <img src="images/forest.jpg" alt="Image de Forêt Tropicale"
                  style="width: 100%; max-width: 700px; height: auto;" />
              </td>
            </tr>
            <tr>
              <td>Savane</td>
              <td>Une vaste plaine herbeuse.</td>
              <td>
                <ul>
                  <li>
                    <span class="animal-name" onmouseover="showImage(this)" onmouseout="hideImage(this)"
                      onclick="incrementClick(3)">
                      Lion - Panthera leo - Clics : <span id="clicks-count-3">20</span>
                    </span>
                    <div class="animal-image" style="display: none;">
                      <img src="images/lion.jpg" alt="Image de Lion" style="max-width: 350px; height: auto;" />
                    </div>
                  </li>
                  <li>
                    <span class="animal-name" onmouseover="showImage(this)" onmouseout="hideImage(this)"
                      onclick="incrementClick(4)">
                      Éléphant - Loxodonta - Clics : <span id="clicks-count-4">25</span>
                    </span>
                    <div class="animal-image" style="display: none;">
                      <img src="images/elephant.jpg" alt="Image de Éléphant" style="max-width: 350px; height: auto;" />
                    </div>
                  </li>
                </ul>
              </td>
              <td>
                <img src="images/savannah.jpg" alt="Image de Savane"
                  style="width: 100%; max-width: 700px; height: auto;" />
              </td>
            </tr>
            <tr>
              <td>Forêt Tropicale</td>
              <td>Une forêt dense et humide.</td>
              <td>
                <ul>
                  <li>
                    <span class="animal-name" onmouseover="showImage(this)" onmouseout="hideImage(this)"
                      onclick="incrementClick(1)">
                      Tigre - Panthera tigris - Clics : <span id="clicks-count-1">10</span>
                    </span>
                    <div class="animal-image" style="display: none;">
                      <img src="images/tiger.jpg" alt="Image de Tigre" style="max-width: 350px; height: auto;" />
                    </div>
                  </li>
                  <li>
                    <span class="animal-name" onmouseover="showImage(this)" onmouseout="hideImage(this)"
                      onclick="incrementClick(2)">
                      Singe - Macaca - Clics : <span id="clicks-count-2">15</span>
                    </span>
                    <div class="animal-image" style="display: none;">
                      <img src="images/monkey.jpg" alt="Image de Singe" style="max-width: 350px; height: auto;" />
                    </div>
                  </li>
                </ul>
              </td>
              <td>
                <img src="images/forest.jpg" alt="Image de Forêt Tropicale"
                  style="width: 100%; max-width: 700px; height: auto;" />
              </td>
            </tr>
            <tr>
              <td>Savane</td>
              <td>Une vaste plaine herbeuse.</td>
              <td>
                <ul>
                  <li>
                    <span class="animal-name" onmouseover="showImage(this)" onmouseout="hideImage(this)"
                      onclick="incrementClick(3)">
                      Lion - Panthera leo - Clics : <span id="clicks-count-3">20</span>
                    </span>
                    <div class="animal-image" style="display: none;">
                      <img src="images/lion.jpg" alt="Image de Lion" style="max-width: 350px; height: auto;" />
                    </div>
                  </li>
                  <li>
                    <span class="animal-name" onmouseover="showImage(this)" onmouseout="hideImage(this)"
                      onclick="incrementClick(4)">
                      Éléphant - Loxodonta - Clics : <span id="clicks-count-4">25</span>
                    </span>
                    <div class="animal-image" style="display: none;">
                      <img src="images/elephant.jpg" alt="Image de Éléphant" style="max-width: 350px; height: auto;" />
                    </div>
                  </li>
                </ul>
              </td>
              <td>
                <img src="images/savannah.jpg" alt="Image de Savane"
                  style="width: 100%; max-width: 700px; height: auto;" />
              </td>
            </tr>
            <tr>
              <td>Forêt Tropicale</td>
              <td>Une forêt dense et humide.</td>
              <td>
                <ul>
                  <li>
                    <span class="animal-name" onmouseover="showImage(this)" onmouseout="hideImage(this)"
                      onclick="incrementClick(1)">
                      Tigre - Panthera tigris - Clics : <span id="clicks-count-1">10</span>
                    </span>
                    <div class="animal-image" style="display: none;">
                      <img src="images/tiger.jpg" alt="Image de Tigre" style="max-width: 350px; height: auto;" />
                    </div>
                  </li>
                  <li>
                    <span class="animal-name" onmouseover="showImage(this)" onmouseout="hideImage(this)"
                      onclick="incrementClick(2)">
                      Singe - Macaca - Clics : <span id="clicks-count-2">15</span>
                    </span>
                    <div class="animal-image" style="display: none;">
                      <img src="images/monkey.jpg" alt="Image de Singe" style="max-width: 350px; height: auto;" />
                    </div>
                  </li>
                </ul>
              </td>
              <td>
                <img src="images/forest.jpg" alt="Image de Forêt Tropicale"
                  style="width: 100%; max-width: 700px; height: auto;" />
              </td>
            </tr>
            <tr>
              <td>Savane</td>
              <td>Une vaste plaine herbeuse.</td>
              <td>
                <ul>
                  <li>
                    <span class="animal-name" onmouseover="showImage(this)" onmouseout="hideImage(this)"
                      onclick="incrementClick(3)">
                      Lion - Panthera leo - Clics : <span id="clicks-count-3">20</span>
                    </span>
                    <div class="animal-image" style="display: none;">
                      <img src="images/lion.jpg" alt="Image de Lion" style="max-width: 350px; height: auto;" />
                    </div>
                  </li>
                  <li>
                    <span class="animal-name" onmouseover="showImage(this)" onmouseout="hideImage(this)"
                      onclick="incrementClick(4)">
                      Éléphant - Loxodonta - Clics : <span id="clicks-count-4">25</span>
                    </span>
                    <div class="animal-image" style="display: none;">
                      <img src="images/elephant.jpg" alt="Image de Éléphant" style="max-width: 350px; height: auto;" />
                    </div>
                  </li>
                </ul>
              </td>
              <td>
                <img src="images/savannah.jpg" alt="Image de Savane"
                  style="width: 100%; max-width: 700px; height: auto;" />
              </td>
            </tr>
            <tr>
              <td>Forêt Tropicale</td>
              <td>Une forêt dense et humide.</td>
              <td>
                <ul>
                  <li>
                    <span class="animal-name" onmouseover="showImage(this)" onmouseout="hideImage(this)"
                      onclick="incrementClick(1)">
                      Tigre - Panthera tigris - Clics : <span id="clicks-count-1">10</span>
                    </span>
                    <div class="animal-image" style="display: none;">
                      <img src="images/tiger.jpg" alt="Image de Tigre" style="max-width: 350px; height: auto;" />
                    </div>
                  </li>
                  <li>
                    <span class="animal-name" onmouseover="showImage(this)" onmouseout="hideImage(this)"
                      onclick="incrementClick(2)">
                      Singe - Macaca - Clics : <span id="clicks-count-2">15</span>
                    </span>
                    <div class="animal-image" style="display: none;">
                      <img src="images/monkey.jpg" alt="Image de Singe" style="max-width: 350px; height: auto;" />
                    </div>
                  </li>
                </ul>
              </td>
              <td>
                <img src="images/forest.jpg" alt="Image de Forêt Tropicale"
                  style="width: 100%; max-width: 700px; height: auto;" />
              </td>
            </tr>
            <tr>
              <td>Savane</td>
              <td>Une vaste plaine herbeuse.</td>
              <td>
                <ul>
                  <li>
                    <span class="animal-name" onmouseover="showImage(this)" onmouseout="hideImage(this)"
                      onclick="incrementClick(3)">
                      Lion - Panthera leo - Clics : <span id="clicks-count-3">20</span>
                    </span>
                    <div class="animal-image" style="display: none;">
                      <img src="images/lion.jpg" alt="Image de Lion" style="max-width: 350px; height: auto;" />
                    </div>
                  </li>
                  <li>
                    <span class="animal-name" onmouseover="showImage(this)" onmouseout="hideImage(this)"
                      onclick="incrementClick(4)">
                      Éléphant - Loxodonta - Clics : <span id="clicks-count-4">25</span>
                    </span>
                    <div class="animal-image" style="display: none;">
                      <img src="images/elephant.jpg" alt="Image de Éléphant" style="max-width: 350px; height: auto;" />
                    </div>
                  </li>
                </ul>
              </td>
              <td>
                <img src="images/savannah.jpg" alt="Image de Savane"
                  style="width: 100%; max-width: 700px; height: auto;" />
              </td>
            </tr>
          </tbody>
        </table>



        <div class="svg-image"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#282d32" fill-opacity="1"
              d="M0,160L80,160C160,160,320,160,480,181.3C640,203,800,245,960,250.7C1120,256,1280,224,1360,208L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
            </path>
          </svg></div>

        </section>


        </main>
        <footer>


          <div class="footer-dark">
            <footer>

              <div class="container-media">
                <div class="row">
                  <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                      <li><a href="#"> Cafétéria </a></li>
                      <li><a href="#"> Hotel </a></li>
                      <li><a href="#"> tramsport </a></li>
                    </ul>
                  </div>

                  <div class="col-sm-6 col-md-3 item">
                    <h3>A propos</h3>
                    <ul>
                      <li><a href="#">Véterinaire</a></li>
                      <li><a href="#">Nos équipes</a></li>
                      <li><a href="#">Nos animaux</a></li>
                    </ul>
                  </div>
                  <div class="col-md-6 item text">
                    <h3>Zoo Arcadia</h3>
                    <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula.
                      Vivamus ac sem lacus. Ut vehicula rhoncus elementum.
                      Etiam quis tristique lectus. Aliquam in arcu eget velit
                      pulvinar dictum vel in justo.</p>
                  </div>
                  <div>
                    <ul class="text-center">
                      <li>
                        <a class="facebook" href="https://www.facebook.com/votrepagefacebook" target="_blank">
                          <i class="fab fa-facebook" aria-hidden="true"></i>
                        </a>
                      </li>

                      <li>
                        <a class="instagram" href="https://www.instagram.com/votrepageinstagram" target="_blank">
                          <i class="fab fa-instagram" aria-hidden="true"></i>
                        </a>
                      </li>

                    </ul>

                    <div class="col item social">
                      <a href="#"><i class="icon ion-social-facebook"></i></a>
                      <a href="#"><i class="icon ion-social-instagram"></i></a>
                    </div>
                    <p class="copyright">Zoo Arcadia ©2024</p>
                  </div>
            </footer>
          </div>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <script
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
          <!-- </div>
<script>
  function showImage(element) {
      element.nextElementSibling.style.display = 'block';
  }

  function hideImage(element) {
      element.nextElementSibling.style.display = 'none';
  }
</script>
<script type="text/javascript">
  function incrementClick(animalId) {
      fetch(`/increment_click/${animalId}/`, {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
          },
          body: JSON.stringify({}),
      })
      .then(response => response.json())
      .then(data => {
          document.getElementById(`clicks-count-${animalId}`).textContent = data.new_click_count;
      })
      .catch((error) => {
          console.error('Error:', error);
      });
  }
  </script>
  
</body>


</html>


   -->